# SQLite3 Full Tutorial (Python)

This notebook is a **complete, beginner-to-advanced tutorial** on using **SQLite3 with Python**.

Topics covered:
- What is SQLite
- Creating and connecting to a database
- Creating tables
- Inserting data
- Querying data (SELECT)
- Filtering, sorting, and aggregation
- Updating and deleting records
- Using parameters (SQL Injection safe)
- Working with Pandas
- Transactions
- Best practices

## 1. What is SQLite?

SQLite is a **lightweight, serverless, file-based database**.

### Key Features
- No server required
- Zero configuration
- Stored as a single `.db` file
- Included with Python (`sqlite3` module)

In [ ]:
import sqlite3

print(sqlite3.sqlite_version)

## 2. Connecting to a Database

If the database file does not exist, SQLite **creates it automatically**.

In [ ]:
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

print('Database connected successfully')

## 3. Creating a Table

We will create a `users` table.

In [ ]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    email TEXT UNIQUE,
    age INTEGER
)
''')

conn.commit()
print('Table created')

## 4. Inserting Data

In [ ]:
cursor.execute(
    "INSERT INTO users (name, email, age) VALUES (?, ?, ?)",
    ('Alice', 'alice@example.com', 30)
)

conn.commit()
print('One record inserted')

### Insert Multiple Rows

In [ ]:
users = [
    ('Bob', 'bob@example.com', 25),
    ('Charlie', 'charlie@example.com', 35),
    ('Diana', 'diana@example.com', 28)
]

cursor.executemany(
    "INSERT OR IGNORE INTO users (name, email, age) VALUES (?, ?, ?)",
    users
)

conn.commit()
print('Multiple records inserted')

## 5. Querying Data (SELECT)

In [ ]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

for row in rows:
    print(row)

### Filtering and Sorting

In [ ]:
cursor.execute("SELECT name, age FROM users WHERE age > 28 ORDER BY age DESC")
cursor.fetchall()

## 6. Aggregation Functions

In [ ]:
cursor.execute("SELECT COUNT(*), AVG(age), MIN(age), MAX(age) FROM users")
cursor.fetchone()

## 7. Updating Records

In [ ]:
cursor.execute(
    "UPDATE users SET age = ? WHERE name = ?",
    (31, 'Alice')
)

conn.commit()
print('Record updated')

## 8. Deleting Records

In [ ]:
cursor.execute("DELETE FROM users WHERE name = ?", ('Bob',))
conn.commit()
print('Record deleted')

## 9. Using Pandas with SQLite

In [ ]:
import pandas as pd

df = pd.read_sql_query("SELECT * FROM users", conn)
df

## 10. Transactions

Transactions ensure **data integrity**.

In [ ]:
try:
    conn.execute("BEGIN")
    conn.execute("INSERT INTO users (name, email, age) VALUES ('Eve', 'eve@example.com', 22)")
    conn.commit()
    print('Transaction committed')
except Exception as e:
    conn.rollback()
    print('Transaction rolled back:', e)

## 11. Best Practices

- Always use parameterized queries
- Commit changes explicitly
- Close connections
- Use indexes for large tables
- Use `with sqlite3.connect()` when possible

In [ ]:
conn.close()
print('Database connection closed')

## 🎉 Tutorial Complete!

You now have a solid understanding of **SQLite3 with Python**.